{% extends "index.html" %}

<div style="color: red;">
{% block title %}Advanced Search{% endblock %}
</div>
{% block content %}

<div class = 'center-wrapper-advanced'>

    <span><h3 style="color:white;">Find pages with...</h3> </span>
    <span><h4 style="color:white;" class ='advanced-instructions'>To do this in the in the searchbox</h4></span>
<form action="https://www.google.com/search">

    <div class = 'center-wrapper-advanced'>

        <div class = 'form-row'>
        <label for="input1">all these words:</label>
            <input type="text" name="as_q" placeholder="">
            <sub style = "color:#838895">Type the important words: <span style = "color: #c2b9a9"> tricolor rat terrier</sub></span>
       </div>

        <div class ='form-row'>
            <label for="input2"> this exact word or phrase: </label>
            <input type="text" name="as_epq" placeholder="">
            <sub style ="color:#838895;">Put exact words in quotes: <span style = "color:#c2b9a9"> "rat terrier"</sub> </span>
        </div>

        <div class ='form-row'>
            <label for="input3">any of these words:</label>
            <input type="text" name="as_oq" placeholder="">
            <sub style ="color: #838895">Type <span style = "color:#c2b9a9">OR</span> between all the words you want:  <span style = "color:#c2b9a9">miniature OR standard</span></sub>
                </div>

        <div class ='form-row'>
            <label for="input4">none of these words:</label>
            <input type="text" name="as_eq" placeholder="">
            <sub style = color:#838895;></style> "Put a minus sign just before words you don't want: <span style = "color:#c2b9a9"> -rodent, -"Jack Russell"</span>


            </sub></span>
        </div>

        <div class ='form-row'>
            <input class = "submit-button" type="submit" value="Advanced Search">
        </div>
        </div>
        
    
    
</form>

</div>

{% endblock %}
