{% extends "index.html" %}

{% block title %}Advanced Search{% endblock %}

{% block content %}

<!-- <div class = 'center-wrapper-advanced'> -->

    <span><h3 style="color:white;">Find pages with...</h3> </span>
    <span><h4 style="color:white;" class ='advanced-instructions'>To do this in the in the searchbox</h4></span>
<form action="https://www.google.com/search">

    <div class = 'center-wrapper-advanced'>

        <div class = 'form-row'>
        <label for="input1">all these words:</label>
            <input type="text" name="as_q" placeholder="">
       </div>

        <div class ='form-row'>
            <label for="input2"> this exact word or phrase: </label>
            <input type="text" name="as_epq" placeholder="">
            <span>Test test</span>
        </div>

        <div class ='form-row'>
            <label for="input3">any of these words:</label>
            <input type="text" name="as_oq" placeholder="">
        </div>

        <div class ='form-row'>
            <label for="input4">none of these words:</label>
            <input type="text" name="as_eq" placeholder="">
        </div>

        <div class ='form-row'>
            <input type="submit" value="Advanced Search">
        </div>
        
        </div>
    
</form>


{% endblock %}
