{% extends "index.html" %}

{% block title %}Image Search{% endblock %}

{% block content %}

<!-- Load Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="search-wrapper">
  <form class="form" action="https://www.google.com/search" method="GET">
    <div class="input-group">
      <span class="input-icon">
        <i class="material-icons">search</i>
      </span>
      
      <input type="text" class="textbox" name="q" placeholder="">
      <input type="hidden" name="tbm" value="isch">
      <!-- tbm = to be matched and isch is short for images -->
    </div>


    <div class="center-button-image-container">
      <button class="submit-button search-button" type="submit">Google Clone Image Search</button>
    </div>
  </form>
</div>


{% endblock %}
