{% extends "index.html" %}

{% block title %}Image Search{% endblock %}

{% block content %}

<!-- Load Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="search-wrapper">
  <form class="form" action="https://www.google.com/search">
    <div class="input-group">
      <span class="input-icon">
        <i class="material-icons">search</i>
      </span>
      
      <input type="text" class="textbox" name="q" placeholder="">
    </div>



    <div class="center-button-image-container">
      <button class="submit-button search-button" type="submit">Google Clone Image Search</button>
    </div>
  </form>
</div>




{% endblock %}




